// 1. Your custom variables and variable overwrites.
$global-link-color: #333;
$global-font-family: 'Cardo', serif;
$global-active-color: #8da683;
$global-inactive-color: #aaa;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; } 
$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: none;

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

body {
	height: 100vh;
	color: #333;
}

.uk-iconnav .uk-icon-button {
	display: inline-flex;
	color: #333;
	background: #fff;
	box-shadow: 0 0 0 .7pt #333;
	background-image: url('../img/cream-paper.jpg');
}

.uk-iconnav .inactive {
	color: $global-inactive-color;
	box-shadow: 0 0 0 .7pt $global-inactive-color;
	pointer-events: none;
}

.uk-iconnav .active, .uk-iconnav .uk-open {
	background: $global-active-color;
}

.uk-iconnav .uk-icon-button:hover {
	background: $global-active-color;
	color: #333;
}

h2 {
	font-size: 12pt;
	text-transform: uppercase;
}

h3 {
	font-size: 12pt;
	padding-top: 1em;
}

#search-overlay {
	width: 400px;
	height: 700px;
	overflow: hidden;
	background: white;
	// This is a  temporary workaround:
	box-shadow: 0 0 0 .7pt #ddd;
}

#search-overlay div {
	box-shadow: none;
}

#search-close {
	margin: 20px 20px 0px 0px;
}

#results {
	height: 500px;
	overflow: auto;
}

#tour-overlay p {
	text-align: center;
}

.uk-label, #viz div, #citations div {
	cursor: pointer;
}

.uk-label {
	background-color: #fff;
	color: #333;
	margin: 0 15px 10px 0;
	padding: 0;
}

.uk-offcanvas-bar {
	border-right: 1px solid gray;
}

#citations div {
	margin: 0 0 15px 0;
}

#branding-overlay {
	// transform: skew(-15deg);
	background: $global-active-color;
	margin-right: 40px;
	padding: 12px 12px 17px 12px;
	div {
		// transform: skew(10deg);
	}
}

#viz { 
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
	font-size: 16pt;
	transition-timing-function: ease-in-out;
	transform-origin: center center;
	background-color: #fff;
	background-image: url('../img/cream-paper.jpg');
	background-size: 119px 108px;
	div {
		position: absolute;
		width: 15em;
		transition-property: transform, opacity;
		// Workaround for Safari rendering artifacts
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
	}
	.tag {
		text-transform: uppercase;
		width: auto;
		line-height: 1;
		font-weight: bold;
	}
}

#central-message {
	font-size: 48px;
	pointer-events: none;
}