// 1. Your custom variables and variable overwrites.
$global-link-color: #333;
$global-font-family: 'Cardo', serif;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; } 
$offcanvas-bar-background: #fff;
$offcanvas-bar-color-mode: none;

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

body {
	height: 100vh;
	color: #333;
	// pattern
}

.uk-iconnav .uk-icon-button {
	display: inline-flex;
	color: #333;
	background: none;
	box-shadow: 0 0 0 .7pt #333;
}

.uk-iconnav .uk-icon-button:hover {
	background: #fff;
	color: #333;
}

h2 {
	font-size: 12pt;
	text-transform: uppercase;
}

h3 {
	font-size: 12pt;
	padding-top: 1em;
}

#search-overlay {
	width: 400px;
	height: 700px;
	overflow: hidden;
}

#search-close {
	margin: 20px 20px 0px 0px;
}

#results {
	height: 500px;
	overflow: auto;
}

#footer p {
	text-align: center;
}

.uk-label, #viz div, #citations div {
	cursor: pointer;
}

.uk-label {
	background-color: #fff;
	color: #333;
	margin: 0 15px 10px 0;
	padding: 0;
}

.uk-offcanvas-bar {
	border-right: 1px solid gray;
}

#citations div {
	margin: 0 0 15px 0;
}

#viz { 
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
	font-size: 16pt;
	transition-timing-function: ease-in-out;
	transform-origin: center center;
	background-color: #fff;
	background-image: url('../img/cream-paper.jpg');
	background-size: 119px 108px;
	div {
		position: absolute;
		width: 15em;
		transition-property: transform, opacity;
		// Workaround for Safari rendering artifacts
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
	}
	.tag {
		text-transform: uppercase;
		width: auto;
		line-height: 1;
		font-weight: bold;
	}
}

.tippy-popper {
	text-align: center;
	p {
		margin: 0 0 0.5em 0;
	}
}

.tippy-content div {
	padding: .5em;
}

.tippy-popper, #modal {
	font-family: "Montserrat", sans-serif;
}