<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Polygraph for "Trillion Dollar Coach"</title>
	<!-- <link href="https://fonts.googleapis.com/css?family=Tinos&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>
<body class="uk-height-viewport">
    <div id="menu" class="uk-navbar-left">
		<div id="offcanvas" uk-offcanvas="bg-close: false">
			<div class="uk-offcanvas-bar">
				<button type="button" class="uk-offcanvas-close uk-position-small uk-position-top-right" uk-close></button>
				<div id="search">
				    <form class="uk-search uk-search-default uk-width-1-1" onSubmit="return false;">
						<span uk-search-icon></span>
						<input class="uk-search-input" type="search" placeholder="Search citations or tags">
				    </form>
				</div>
				<div id="results" class="uk-margin-medium-top">
					<div>
				    	<h3 class="uk-heading-divider">Topics</h3>
					</div>
				    <div id="tags">
				    	<!-- added by menu.ts -->
				    </div>
				    <h3 class="uk-heading-divider">Citations</h3>
				    <div id="citations">
				    	<!-- added by menu.ts -->
			        </div>
				</div>
		    </div>
		</div>	
    </div>
    <div id="viz">
    	<!-- Divs of visualization go here -->
    </div>
    <a id="menubutton" href="#offcanvas" class="uk-position-small uk-position-top-left " uk-toggle uk-icon="menu"></a>
    <div id="modal" uk-modal="bg-close: false; esc-close: false">
        <div class="uk-modal-dialog">

            <!-- <div class="uk-modal-header uk-modal-title">
                Willkommen
            </div> -->

            <div class="uk-modal-body" uk-overflow-auto>

                <p>Liebe Kerstin,</p>
                <p>wir haben vor einiger Zeit über Coaches und ein Format für Kollaboration gesprochen. Als Inspiration habe ich das Buch über Bill Campbell zusammengefasst, alle Zitate sind aus dem Buch <a href="https://www.trilliondollarcoach.com" target="_blank">Trillion Dollar Coach</a>.</p>
                <p>Diese Art der Darstellung will ich in Zukunft nutzen, um Zitate aus verschiedenen Quellen besser in einen Kontext stellen zu können. Das Tool soll dem menschichen Denken möglichst ähnlich werden: assoziativ, amorph und etwas zufällig.</p>
                <p>Ich bin gespannt, was du zu dem Prototyp sagst!</p>
                <p>Viele Grüße,<br>   Fabian</p>
                <p>P.S.: Funktioniert am Besten in Chrome, bisher nur am Laptop, nicht am Handy.</p>

            </div>

            <div class="uk-modal-footer uk-text-right">
                <button id="modal-button" class="uk-button uk-button-primary uk-modal-close" type="button">Let's go</button>
            </div>

        </div>
    </div>
</body>
</html>