<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Polygraph for "Trillion Dollar Coach"</title>
	<link href="https://fonts.googleapis.com/css?family=Tinos&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>
<body class="uk-height-viewport">
	    <div id="menu" class="uk-navbar-left">
			<div id="offcanvas" uk-offcanvas="bg-close: false">
				<div class="uk-offcanvas-bar">
					<button type="button" class="uk-offcanvas-close uk-position-small uk-position-top-right" uk-close></button>
					<div id="search">
					    <form class="uk-search uk-search-default uk-width-1-1">
							<span uk-search-icon></span>
							<input class="uk-search-input" type="search" placeholder="Search...">
					    </form>
					</div>
				    <h3 class="uk-heading-divider">Topics</h3>
				    <div id="tags">
				    	<!-- added by menu.ts -->
				    </div>
				    <h3 class="uk-heading-divider">Citations</h3>
				    <div id="citations">
				    	<!-- added by menu.ts -->
			        </div>
			    </div>
			</div>	
	    </div>
	    <div id="viz">
	    	<!-- Divs of Visualization go here -->
	    </div>
	    <a href="#offcanvas" class="uk-position-small uk-position-top-left" uk-toggle uk-icon="menu"></a>
	<!-- </nav> -->
</body>
</html>